<%- include('partials/header'); -%>

    <% if (user) { %>
        <% if (update) { %>
            <section>
                <form action="/update-profile" method="PUT" enctype="multipart/form-data">

                    <h2>Update</h2>

                    <label for="firstname">First name</label>
                    <input type="text" name="firstname" value="<%= user.firstname %>">
                    <div class="firstname error"></div>

                    <label for="lastname">Last name</label>
                    <input type="text" name="lastname" value="<%= user.lastname %>">
                    <div class="lastname error"></div>

                    <label for="email">Email</label>
                    <input type="text" name="email" value="<%= user.email %>" required>
                    <div class="email error"></div>

                    <label for="github">GitHub</label>
                    <input type="text" name="github" value="<%= user.github %>">

                    <!-- <label for="profilpicture">Profile picture</label>
                    <input type="file" name="profilpicture" value="<%= user.profilpicture%>"> -->

                    <label for="cv">CV (pdf)</label>
                    <input type="text" name="cv" value="<%= user.cv%>"
                        placeholder="Enter a link for your cv ( ex: Google Drive)">

                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Optional">
                    <div class="password error"></div>

                    <label for="confirmpassword">Confirm password</label>
                    <input type="password" name="confirmpassword" placeholder="Optional">
                    <div class="confirmpassword error"></div>

                    <button class="update">Update</button>

                </form>
            </section>
            <% } else { %>
                <section>
                    <h1>Profil du user</h1>
                    <p>Prénom : <%= user.firstname %>
                    </p>
                    <p>Nom : <%= user.lastname %>
                    </p>
                    <p>Email : <%= user.email %>
                    </p>
                    <p>Github : <a href="<%= user.github %>" target="_blank" rel="noopener noreferrer">
                            <%= user.github %>
                        </a>
                    </p>
                    <!-- <p>Photo de profil : <%= user.profilpicture %>
                    </p> -->
                    <p>CV : <a href="<%= user.cv %>" target="_blank" rel="noopener noreferrer">
                            <%= user.cv %>
                        </a>
                    </p>
                    <h2><a href="/update-profile">Update Profile</a></h2>
                    <h2><a href="/upload">Add Picture</a></h2>
                    <button class="delete">Delete profile</button>
                </section>
                <% } %>
                    <% } %>

                        <%- include('partials/footer'); -%>



                            <script>
                                const form = document.querySelector('form');
                                const emailError = document.querySelector('.email.error');
                                const passwordError = document.querySelector('.password.error');
                                const confirmPasswordError = document.querySelector('.confirmpassword.error');
                                const firstnameError = document.querySelector('.firstname.error');
                                const lastnameError = document.querySelector('.lastname.error');
                                const updateBtn = document.querySelector('.update');
                                document.addEventListener('submit', async (e) => {
                                    e.preventDefault();

                                    // reset errors
                                    emailError.textContent = '';
                                    passwordError.textContent = '';
                                    confirmPasswordError.textContent = '';
                                    firstnameError.textContent = '';
                                    lastnameError.textContent = '';

                                    // get values
                                    const email = form.email.value;
                                    const password = form.password.value;
                                    const confirmpassword = form.confirmpassword.value;
                                    const firstname = form.firstname.value
                                    const lastname = form.lastname.value
                                    const github = form.github.value
                                    const profilpicture = "";
                                    const cv = form.cv.value


                                    const emailRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
                                    if (password !== confirmpassword || !emailRegex.test(email) || firstname === '' || lastname === '') {
                                        if (password !== confirmpassword) {
                                            confirmPasswordError.textContent = 'Passwords do not match';
                                        }
                                        if (!emailRegex.test(email)) {
                                            emailError.textContent = 'Email is not valid';
                                        }
                                        if (firstname === '') {
                                            firstnameError.textContent = 'First name is required';
                                        }
                                        if (lastname === '') {
                                            lastnameError.textContent = 'Last name is required';
                                        }
                                    } else {
                                        let infoUsers = {
                                            firstname,
                                            lastname,
                                            email,
                                            password,
                                            linkedin: "",
                                            github,
                                            profilpicture,
                                            cv
                                        }
                                        try {
                                            const res = await fetch('/update-profile', {
                                                method: 'PUT',
                                                body: JSON.stringify(infoUsers),
                                                headers: { 'Content-Type': 'application/json' }
                                            });
                                            const data = await res.json();
                                            console.log(data);
                                            if (data.errors) {
                                                emailError.textContent = data.errors.email;
                                                passwordError.textContent = data.errors.password;
                                            }
                                            if (data.user) {
                                                location.assign('/user-profile');
                                            }

                                        }
                                        catch (err) {
                                            console.log(err);
                                        }
                                    }

                                });

                                const deleteButton = document.querySelector('.delete');
                                deleteButton.addEventListener('click', async (e) => {
                                    e.preventDefault();
                                    const confirmation = confirm("Are you sure you want to delete your profile?");
                                    if (confirmation) {
                                        try {
                                            const res = await fetch('/delete-profile', {
                                                method: 'DELETE',
                                                body: JSON.stringify({ _id: 0 }),
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                }
                                            });
                                            const data = await res.json();
                                            console.log(data);
                                            if (data.user) {
                                                location.assign('/signup');
                                            }
                                            else {
                                                location.assign('/signup');

                                            }
                                        }
                                        catch (err) {
                                            console.log(err);
                                        }
                                    }
                                });





                            </script>