<%- include('partials/header'); -%>
  <section class="list-jobs">
    <div class="filtres">
      <form action="/list-jobs" method="GET" class="form-filtre">

        <!-- Filtre par origine -->
        <label for="filterOrigin">Filter by Origin:</label>
        <select id="filterOrigin" name="filterOrigin">
          <option value="">All Origins</option>
          <% origins.forEach(origin=> { %>
            <option value="<%= origin %>">
              <%= origin %>
            </option>
            <% }); %>
              <option value="spontaneous">Spontaneous Candidature</option>
              <option value="job offer">Job offer</option>
        </select>

        <!-- Filtre par statut -->
        <label for="filterStatus">Filter by Status:</label>
        <select id="filterStatus" name="filterStatus">
          <option value="">All Status</option>
          <% statusJobs.forEach(status=> { %>
            <option value="<%= status %>">
              <%= status %>
            </option>
            <% }); %>
              <option value="interested">Interested</option>
              <option value="cv sent">CV Sent</option>
              <option value="negative">Negative</option>
              <option value="interview">Interview</option>
        </select>

        <button type="submit">Apply Filters</button>

      </form>
    </div>
  </section>
  <section class="jobs">
    <div class="center">
      <ul class="job-ul">
        <% if (jobs) { %>
          <% jobs.forEach(job=> { %>
            <% if ((!filterOrigin || job.origin.includes(filterOrigin)) && (!filterStatus ||
              job.statusJob.includes(filterStatus))) { %>
              <li class="job">
                <h2>
                  <a href="/job/<%= job._id %>">
                    <%= job.jobTitle %>
                  </a>
                </h2>

                <h3>
                  <%= job.company %>
                </h3>
                <!-- <p>
          <%= job.website %>
        </p> -->
                <!-- <p>
              <%= job.nameContact %>
            </p> -->
                <!-- <p>
              <%= job.emailContact%>
            </p> -->
                <!-- <p>
          <%= job.phone %>
        </p> -->
                <!-- <p>
              <%= job.Address %>
            </p> -->
                <!-- < <p>
          <%= job.origin %>
        </p> -->
                <p class="statusJob">
                  <%= job.statusJob %>
                </p>
                <!-- <p>
              <%= job.comments %>
            </p> -->
                <a href="/job/update/<%= job._id %>" class="edit">Edit</a>
                <button class="delete" type="submit" data-jobid="<%= job._id %>">Delete</button>



              </li>
              <% } %>
                <% }); %>
                  <% } else { %>
                    <p>No jobs found.</p>
                    <% } %>
      </ul>
      <a href="/create-job" class="create-ajob">Create a Job</a>
    </div>
  </section>

  <!-- <div class="footer-list">
    <div>
      © Copyright 2023 - Team MAH
    </div>
  </div> -->

  </body>

  </html>




  <script>

    const statusJob = document.querySelector('.statusJob');

    async function fetchJobs() {

      try {
        const response = await fetch('/list-jobs', {
          method: 'GET'
        });
        const jobs = await response.json(jobs);
        console.log(jobs);

      } catch (error) {
        console.error('Error fetching jobs:', error);
      }
    }

    fetchJobs();






    //delete job 
    document.addEventListener('DOMContentLoaded', () => {
      const deleteBtns = document.querySelectorAll('.delete');

      deleteBtns.forEach(deleteBtn => {
        deleteBtn.addEventListener('click', async (e) => {
          const jobId = e.target.dataset.jobid;
          const confirmation = confirm("Are you sure you want to delete this job?");

          if (confirmation) {
            try {
              const response = await fetch(`/job/delete/${jobId}`, {
                method: 'DELETE',
                body: JSON.stringify({ _id: jobId }),
                headers: {
                  'Content-Type': 'application/json'
                }
              });

              const data = await response.json();
              console.log(data);

              if (data.success) {
                // Rediriger vers la page '/list-jobs' après la suppression réussie
                window.location.href = '/list-jobs';
              }
            } catch (error) {
              console.error('Error deleting job:', error);
            }
          }
        });
      });
    });





  </script>